<div *ngIf="loading">Loading concerts...</div>
<div *ngIf="error">{{ error }}</div>
<div *ngIf="!loading && !error">
    <h1>Proximos conciertos</h1>
    <ul class="concerts-list">
      @for (concert of concerts; track trackById($index, concert)) {
            <li class="concert-item">
                <div class="concert-info">
                    <h3 class="concert-name">{{ concert.nombre }}</h3>
                    <div class="concert-details">
                        <span class="concert-date">{{ concert.fecha | date:'shortDate' }}</span>
                        <span class="concert-location">{{ concert.lugar }}</span>
                    </div>
                </div>
                <button class="edit-btn" (click)="editConcert(concert._id!)">
                    Edit
                </button>
                <button class="delete-btn" (click)="deleteConcert(concert._id!)">
                    Delete
                </button>
            </li>
        }
    </ul>
</div>

